
body{
    background-color: transparent !important;
}
.textcol{
    color: #405d8f;
}
body::-webkit-scrollbar { width: 0px; }

body::-webkit-scrollbar-track {
  background: var(--white);
  border-left: 1px solid var(--cultured);
}

body::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 80%);
  border: 3px solid var(--white);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover { background: hsl(0, 0%, 70%); }





.hoverli:hover{
    background-color: #edf1f6d0;
}
a{
    text-decoration: none;
}
#cars{
    border: none;
border-bottom: 1px solid ;
outline: none;
appearance:none; 
text-align: center;
}
#search{
border: none;
outline: none;
border-bottom: 2px solid rgba(0, 0, 0, 0.396);
}
#search:focus{
border-color: #4FAB52;
border-radius:1px ;
transition: 0.8s;
}
img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.a{
    color: #10ee00;
    font-size: 25px;
    padding: 10px;
}
.a:hover{
    color: #1e16bc;
}
.b{
    color: #cab01c;
    font-size: 25px;
}
.b:hover{
    color: #ff1900;
}
.c{
    color: #f14624;
    font-size: 25px;
}